.project {
    height: 200px;
    box-shadow: 0 2px 4px grey;
    transition: 0.3s;
    display: flex;
    cursor: pointer;
}

.project:hover {
    box-shadow: 0 4px 8px grey;
}

.img {
    width: 50%;
    height: 100%;
}

.info{
    width: 50%;
    height: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.title {
    font-size: 1.5em;
    
}