.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    animation: fadein 5s 1; 
}

.content {
    max-width: 40vw;
}

 .content > p {
    margin-bottom: 0.5rem;
 }

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.link {
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}