.page {
    min-height: 100vh;
    margin-bottom: 3rem;
    padding-left: 5em;
    padding-right: 5em;
    
}

.page_title {
    font-size: 2rem;
    margin-bottom: 3rem;
    /* margin-top: 3rem; */
}

.chevron {
    font-size: 2rem;
    cursor:pointer;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.intro {
    height: calc(100vh - 6rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    animation: fadein 5s 1; 
    text-align:center;
}

.projects {
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: fadein 5s 1;
    grid-gap: 5rem;
}

@media(max-width: 750px){
    .projects_grid{
        grid-template-columns: 1fr;
    }
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icons {
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin-top: 1em;
}

.icon {
    margin-left: 1em;
    margin-right: 1em;
}

.icon:hover {
   animation: bounce 1s infinite;
}

@keyframes bounce{
    0%{
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 0.5em;
    }
    100% {
        margin-bottom: 0;
    }
}
