.content {
    font-size: 16px;
    width: 38rem;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: fadein 5s 1; 
    line-height: 1.5;
}

@media(max-width: 720px){
    .content{
        font-size: 9.5px;
        width: 550px;
    }
}

@media(max-width: 550px){
    .content{
        font-size: 9.5px;
        width: 350px;
    }
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0 0;
}

.section h2 {
    text-decoration: underline;
    margin-bottom: 0.25rem;
}

.section h4 {
    /* margin-bottom: 0.5rem; */
    font-weight: normal;
}

.section p {
    margin-bottom: 0.5rem;
}

.link {
    font-weight: bold;
    text-decoration: underline;
}

.section {
    border-bottom: 2px solid black;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.section__item{
    margin-bottom:0.5rem;
}

.section_last{
    composes: section;
    border-bottom: none;
}


.section__header {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.section__subheader {
    font-style: italic;
}

.skill {
    font-weight: bold;
}

.section__endorsement{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
    text-align: justify; 
}