html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

.bubble {
    stroke: transparent;
    width: 1rem;
    position: absolute;
    z-index: -1;
}
